// Styles for the battle window
article#battle_window{
    z-index: 110;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("../images/dither_black.png");
    border: none;
    padding: 40px;

    section#monsters{
        section#target_message{
            z-index: 150;
            position: absolute;
            top: 0;
            width: 100%;
            height: 60px;
            background-color: $white;
            padding: 8px;
            h1{
                font-size: 3em;
                color: $black;
                margin: 4px;
            }
        }
        position: relative;
        top: 0;
        left: 0;
        background-color: $black;
        height: 60%;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        align-content: center;
        text-align: center;
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            height: 100%;
            
            img{
                width: 15vw;
                padding: 4px;
                border: 2px solid transparent;
                transform: translateY(0px);
                transition: transform 200ms, border 200ms;
            }
            h1{
                font-size: 2em;
                text-shadow: 2px 2px 0px $purple;
                color: $offwhite;
                transition: color 200ms;
                span.selection{
                    color: $black;
                    transition: color 200ms;
                    text-shadow: none;
                }
            }
            
            &:hover.active{
                cursor: crosshair;
                background-color: $nearblack;
                h1{
                    color: $offred;
                    transition: color 200ms;
                    span.selection{
                        color: $white;
                        transition: color 200ms;
                        text-shadow: none;
                    }
                }
                img{
                    border: 2px solid $white;
                    transform: translateY(-4px);
                    transition: transform 200ms, border 200ms;
                }
            } 
        }
    }
    section#player_stats{
        background-color: $black;
        border: 4px solid $white;
        width: 15vw;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        section{
            border: 1px solid $nearblack;
            padding: 4px;
            margin: 4px;
            h1{
                font-size: 1.25em;
                font-weight: bold;
            }
            p{
                @include font_numbers;
                font-size: 1em;
            }
            &.battle_stats{
                p{
                    font-size: 1.5em;
                }
            }
        }
    }
    section#commands{
        position: relative;
        top: 0px;
        left: 0px;
        background-color: $offblack;
        border: 4px solid $offwhite;
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        button{
            height: 20%;
            width: 95%;
            margin: 8px;
            color: $white;
            background-color: $nearblack;
            border: 4px solid $white;
            transform: translate(0px 0px);
            transition: transform 200ms;
            &:hover{
                background-color: $black;
                transform: translate(-4px, -4px);
            }
            &:active{
                color: $red;
                border: 4px solid $red;
                transform: translate(2px, 2px);
            }
        }
        section{
            z-index: 176;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 150px;
            left: -500px;
            width: 500px;
            height: auto;
            button{
                width: 100%;
                height: 50px;
                margin: 0px;
                border: 1px solid $white;
                &:hover{
                    border: 1px solid $red;
                }
            }
        }
        div.blur{
            width: 100%;
        height: 100%;
        z-index: 200;
        background-image: url('../images/dither_black.png');
        position: absolute;
        }

    }
    button#battle_debug{
        width: 300px;
        height: 100px;
        color: $white;
        background-color: $nearblack;
        border: 2px solid $red;
        &:active{
            background-color: $white;
            color: $nearblack;
        }
    }
}
#battle_log{
    z-index: 175;
    background-color: $black;
    width: 60%;
    height: 35%;
    display: flex;
    flex-direction: column;
    .log{
        border: 1px solid $grey;
        margin: 8px;
        padding: 4px;
        .log_line{
            background-color: $black;
            &:nth-child(even){
                background-color: $nearblack;
            }
            &.initial{
                font-size: 1.5em;
                line-height: 1.75em;
                border: 1px solid $offwhite;
            }
        }
    }
}

