// Standard harsh colors
$black: #000000;
$white: #ffffff;
$grey: #888888;
$red: #ff0000;

// JPC-16 colors, for accents
$offblack: #050403;
$nearblack: #221f31;
$gray: #9a93b7;
$offwhite: #fefefe;

$brown: #543516;
$lightbrown: #9b6e2d;
$lighterbrown: #e1b047;

$yellow: #f5ee9b;

$blue: #678fcb;
$lightblue: #8be1e0;
$darkblue: #404a68;

$green: #7cc264;
$darkgreen: #316f23;

$offred: #a14d3f;
$lightred: #ea9182;

$purple: #a568d4;

// ---------- Colors for articles ----------
article{
    background-color: $black;
    border: 2px solid $white;
    padding: 4px;
}